<%-include("header")-%>
<h2> This is the about page</h2>
<p>
    Helooo! everyone my name is Manya sharma from India .
I am a programmer, and a web developer 
student by profession 
welcoming positive vibes❤️
</p>
<%-include("footer")-%>
